<nav class="navbar">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navMenuExample">
        <span></span>
        <span></span>
        <span></span>
        </div>
    </div>
  <div id="navMenuExample" class="navbar-menu">

    <div class="navbar-start">
     <% Object.keys(theme.menu).forEach(function(key) { %>
            <a class="navbar-item has-text-info" href="<%= theme.menu[key] %>">
            <span class="icon is-info"><i class="fa fa-<%= key.toLowerCase() %>"> </i></span>
            &nbsp;<%= key %> </a>
    <% }) %>

        <% if (site.categories.length){ %>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-item is-hovered is-active"><span class="icon" ><i class="fa fa-list"></i></span> &nbsp;Categories </a>
            <div class="navbar-dropdown ">
                <%- list_categories({ separator: '', show_count:false, style: 'a', class: 'navbar-item ' }) %>
            </div>
        </div>
        <% } %>
        <% if (site.tags.length){ %>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-item is-hovered is-active"><span class="icon" ><i class="fa fa-tags"></i></span> &nbsp;Tags </a>
            <div class="navbar-dropdown ">
                <%- list_tags({ separator: '', show_count:false, style: 'a', class: 'navbar-item ' }) %>
            </div>
        </div>
        <% } %>
    </div>
     <div class="navbar-end has-dropdown">
   
        <div class="navbar-item dropdown is-paddingless has-text-black" id="search">
            <form action="//google.com/search" method="get" accept-charset="UTF-8" target="_blank">
                <div class="field has-addons">
                    <p class="control has-icons-left">
                        <input class="input is-info" type="text" name="q">
                        <input name="sitesearch" value="<%- config.url %>" type="hidden">
                        <span class="icon is-small is-left"><i class="fa fa-search"></i> </span>
                    </p>
                    <div class="control">
                        <input type="submit" class="button is-info " value="Search">
                    </div>
                </div>
            </form>
        </div>
        <a class="navbar-item is-hovered is-active"><span class="icon" ><i class="fa fa-search"></i></span>Search</a>
          
                    
     </div>
   </div>
</nav>
